.hidden {
    display:none;
}

body {
    text-align: center;
    font-size: 18px;
    border: 2px solid black;
}

input[type="text"] {
    font-size: 18px;
}

input[type="submit"] {
    font-size: 16px;
}
